<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sobre</ion-title>



    <ion-thumbnail slot="end" *ngIf="auth.user | async as user; else showLogin">
      <img src="{{user.photoURL}}" alt="{{user.displayName}}" routerLink="/profile">
    </ion-thumbnail>
    <ng-template #showLogin>
      <ion-thumbnail slot="end">
        <img src="assets/user.png" alt="logue-se" routerLink="/login">
      </ion-thumbnail>
    </ng-template>
    
  </ion-toolbar>
</ion-header>

<ion-img src="assets/Sem título.png" alt="Erro 404"></ion-img>

<ion-content class="ion-padding-horizontal">

  <p>
    O aplicativo EME é um aplicativo desenvolvido com a finalidade de informar os seus usuários os acontecimentos mais 
    importantes de mundo.<br>
    Nele voce encontrará notícias sobre esporte, empregos, lazer, culinária, automotivos e muito mais! 
    <br>
    <br>
    <b>
    Desenvoltido por <br> Rodolfo Ferrari 
    </b>
  </p>
  <ion-img src="assets/12.png"  class="logotipo"></ion-img>
</ion-content>
